.Button {
    padding: 5px 10px;
    display: inline-block;
    background-color: forestgreen;
    color: white;
    font-weight: 900;
    font-size: 24pt;
    border-radius: 7px;
    box-shadow: 10px 10px 25px gray;
}