.AnimatedButton{
    padding:5px 10px;
    display: inline-block;
    background-color: green;
    color:white;
    font-weight: 900;
    font-size: 24pt;
    border-radius: 7px;
    box-shadow: 10px 10px 25px grey;
    margin: 10px 5px;
}
.AnimatedButton.clicked{
    box-shadow: 5px 5px 25px grey;
    color:lightgray;
}